<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xxxx.mapper.UserMapper">

    <!-- 查询所有用户 -->
    <select id="selectAll" resultType="com.xxxx.bean.User">
        SELECT *
        FROM UserInfo
    </select>

    <!-- 查询用户数量 -->
    <select id="selectAmount" resultType="int">
        SELECT count(*)
        FROM UserInfo
    </select>

    <!-- 根据 userid 查询用户 -->
    <select id="selectById" parameterType="int" resultType="com.xxxx.bean.User">
        SELECT *
        FROM UserInfo
        WHERE userid = #{userid}
    </select>

    <!-- 根据 username 查询用户 -->
    <select id="queryuserByName" parameterType="String" resultType="com.xxxx.bean.User">
        SELECT *
        FROM UserInfo
        WHERE username = #{username}
    </select>

    <!-- 插入用户 -->
    <insert id="insertUser" parameterType="com.xxxx.bean.User">
        INSERT INTO UserInfo (userid, username, password)
        VALUES (#{userid}, #{username}, #{password})
    </insert>

    <!-- 查找最大userid，便于给新用户分配id -->
    <select id="maxUserid">
        select max(userid) from UserInfo
    </select>

    <!-- 更新用户
    <update id="updateUser" parameterType="User">
        UPDATE users
        SET user_name = #{userName}, email = #{email}
        WHERE id = #{id}
    </update>
    -->
    <!-- 删除用户
    <delete id="deleteUser" parameterType="int">
        DELETE FROM users WHERE id = #{id}
    </delete>
    -->
</mapper>
