body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background: linear-gradient(45deg, #3abff8, #f83abf);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.product-form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.product-form-title {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    width: 100%;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    color: #666;
    font-size: 16px;
}

.input-group input {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

input[readonly] {
    background-color: #f2f2f2; /* 设置为浅灰色背景 */
    border: 1px solid #ddd; /* 设置边框颜色 */
}

.product-form-container button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #3abff8, #f83abf);
    color: white;
    cursor: pointer;
    font-size: 18px;
    background-size: 200% 200%;
    animation: gradientButton 6s ease infinite;
}

.product-form-container button:hover {
    animation: gradientButtonHover 0.5s ease forwards;
}

@keyframes gradientButton {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradientButtonHover {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

/* 弹窗遮罩层 */
.modal-overlay {
    display: none;  /* 初始不显示 */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);  /* 半透明背景 */
    z-index: 999;  /* 遮罩层置于内容上方 */
}

/* 弹窗样式 */
.modal {
    display: none;  /* 初始不显示 */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);  /* 边缘 */
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.4);
    z-index: 1000;  /* 弹窗置于遮罩层上方 */
    max-width: 250px; /* 弹窗最大宽度 */
    width: 60%; /* 宽度为80% */
}

.modal .message {
    color: #111;
    font-size: 16px;
    text-align: center;
}

.modal .close {
    background: transparent;
    color: #333;
    font-size: 28px;
    border: none;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.modal .close:hover {
    color: red;
}

.buy-modal {
    display: none;  /* 初始不显示 */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.4);
    z-index: 1000;
    max-width: 300px; /* 弹窗最大宽度 */
    width: 90%; /* 宽度为视口宽度的90% */
}

.buy-modal-overlay {
    display: none;  /* 初始不显示 */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);  /* 半透明背景 */
    z-index: 999;  /* 遮罩层置于内容上方 */
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal-buttons #confirmBuy {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; /* Green */
    color: white;
    cursor: pointer;
}

.modal-buttons #cancelBuy {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; /* Green */
    color: white;
    cursor: pointer;
}

.modal-buttons button:hover {
    background-color: #45a049;
}